<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
<div class="form_row full">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form_row full">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="form_row">
  <%= f.label :start_time %>
  <%= f.text_field :start_time %>
</div>
<div class="form_row">
  <%= f.label :end_time %>
  <%= f.text_field :end_time %>
</div>
<div class="form_row full">
  <%= f.label :location %>
  <%= f.text_field :location, :maxLength => 255 %> 
</div>
<div class="form_row full">
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.find(:all).collect { |c| [c.name, c.id] } %>
</div>
<div class="form_row full">
  <%= f.label :reminder %>
  <%= f.check_box :reminder %> 
</div>
<div class="form_row full">
  <%= f.label :privacy %>
  <%= f.select :privacy, [["Public", Event::PRIVACY[:public]],["Me and my contacts", Event::PRIVACY[:contacts]]] %> 
</div>
<div class="form_row">
  <%= f.submit @event.new_record? ? "Create" : "Update" %>
</div>
<% end %>

